<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
>
    <router id="standard">
        <route id="ivchuk_ivchuk_controller_demos" frontName="ivchuk-ivchuk-controller-demos">
            <module name="Ivchuk_IvchukControllerDemos"/>
        </route>
    </router>
</config>
